---
---
@import "minima";

/* =========================
   Custom injections
   ========================= */

.site-footer {
  text-align: center;
  font-size: 0.75rem;
  padding: 1rem 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
